In [1]:
import pandas as pd

In [2]:
#importing raw data downloaded from Kaggle#
df= pd.read_csv('Health_AnimalBites_2.csv')
print(df)

                bite_date SpeciesIDDesc      BreedIDDesc GenderIDDesc  \
0     1985-05-05 00:00:00           DOG              NaN       FEMALE
1     1986-02-12 00:00:00           DOG              NaN      UNKNOWN
2     1987-05-07 00:00:00           DOG              NaN      UNKNOWN
3     1988-10-02 00:00:00           DOG              NaN         MALE
4     1989-08-29 00:00:00           DOG              NaN       FEMALE
...                   ...           ...              ...          ...
8998  2017-09-05 00:00:00           DOG              NaN          NaN
8999  2017-09-07 00:00:00           DOG       POMERANIAN         MALE
9000  2017-09-07 00:00:00           DOG  LABRADOR RETRIV         MALE
9001  2017-09-07 00:00:00           DOG  LABRADOR RETRIV       FEMALE
9002  2017-09-07 00:00:00           DOG            BOXER          NaN

           color  vaccination_yrs     vaccination_date victim_zip  \
0     LIG. BROWN              1.0  1985-06-20 00:00:00      40229
1      BRO & BLA              NaN                  NaN      40218
2            NaN              NaN                  NaN      40219
3      BLA & BRO              NaN                  NaN        NaN
4        BLK-WHT              NaN                  NaN        NaN
...          ...              ...                  ...        ...
8998         NaN              NaN                  NaN      40243
8999         RED              NaN                  NaN      40204
9000       BROWN              NaN                  NaN      47130
9001     BLK WHT              NaN                  NaN      40229
9002     BRN BLK              NaN                  NaN      40229

     AdvIssuedYNDesc WhereBittenIDDesc      quarantine_date DispositionIDDesc  \
0                 NO              BODY  1985-05-05 00:00:00           UNKNOWN
1                 NO              BODY  1986-02-12 00:00:00           UNKNOWN
2                 NO              BODY  1990-05-07 00:00:00           UNKNOWN
3                 NO              BODY  1990-10-02 00:00:00           UNKNOWN
4                 NO              BODY                  NaN           UNKNOWN
...              ...               ...                  ...               ...
8998             NaN           UNKNOWN                  NaN               NaN
8999             NaN              HEAD                  NaN               NaN
9000             NaN           UNKNOWN                  NaN               NaN
9001             NaN              BODY                  NaN               NaN
9002             NaN              BODY                  NaN               NaN

     head_sent_date release_date ResultsIDDesc
0               NaN          NaN       UNKNOWN
1               NaN          NaN       UNKNOWN
2               NaN          NaN       UNKNOWN
3               NaN          NaN       UNKNOWN
4               NaN          NaN       UNKNOWN
...             ...          ...           ...
8998            NaN          NaN           NaN
8999            NaN          NaN           NaN
9000            NaN          NaN           NaN
9001            NaN          NaN           NaN
9002            NaN          NaN           NaN

[9003 rows x 15 columns]

In [3]:
#returning data 
df.head(205)

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc
0,1985-05-05 00:00:00,DOG,NaN,FEMALE,LIG. BROWN,1.0,1985-06-20 00:00:00,40229,NO,BODY,1985-05-05 00:00:00,UNKNOWN,NaN,NaN,UNKNOWN
1,1986-02-12 00:00:00,DOG,NaN,UNKNOWN,BRO & BLA,NaN,NaN,40218,NO,BODY,1986-02-12 00:00:00,UNKNOWN,NaN,NaN,UNKNOWN
2,1987-05-07 00:00:00,DOG,NaN,UNKNOWN,NaN,NaN,NaN,40219,NO,BODY,1990-05-07 00:00:00,UNKNOWN,NaN,NaN,UNKNOWN
3,1988-10-02 00:00:00,DOG,NaN,MALE,BLA & BRO,NaN,NaN,NaN,NO,BODY,1990-10-02 00:00:00,UNKNOWN,NaN,NaN,UNKNOWN
4,1989-08-29 00:00:00,DOG,NaN,FEMALE,BLK-WHT,NaN,NaN,NaN,NO,BODY,NaN,UNKNOWN,NaN,NaN,UNKNOWN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,2010-03-08 00:00:00,DOG,NaN,MALE,BLK-WHT,1.0,2009-08-03 00:00:00,40208,NO,BODY,2010-03-10 00:00:00,RELEASED,NaN,NaN,UNKNOWN
201,2010-03-08 00:00:00,DOG,NaN,UNKNOWN,WHT,NaN,NaN,40258,YES,BODY,2010-03-10 00:00:00,UNKNOWN,NaN,NaN,UNKNOWN
202,2010-03-08 00:00:00,DOG,NaN,MALE,BLK,NaN,NaN,40222,NO,BODY,2010-03-15 00:00:00,UNKNOWN,NaN,NaN,UNKNOWN
203,2010-03-08 00:00:00,DOG,NaN,FEMALE,TAN,NaN,NaN,40211,NO,BODY,2010-03-08 00:00:00,UNKNOWN,NaN,NaN,UNKNOWN
204,2010-03-09 00:00:00,DOG,NaN,UNKNOWN,NaN,NaN,NaN,40203,YES,BODY,2010-03-10 00:00:00,UNKNOWN,NaN,NaN,UNKNOWN

In [4]:
#Delete rows of
df = df.drop(labels=["color", "vaccination_yrs", "vaccination_date", "AdvIssuedYNDesc", "quarantine_date", "DispositionIDDesc","head_sent_date", "release_date", "ResultsIDDesc"], axis=1) 
df.head(200)

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,victim_zip,WhereBittenIDDesc
0,1985-05-05 00:00:00,DOG,NaN,FEMALE,40229,BODY
1,1986-02-12 00:00:00,DOG,NaN,UNKNOWN,40218,BODY
2,1987-05-07 00:00:00,DOG,NaN,UNKNOWN,40219,BODY
3,1988-10-02 00:00:00,DOG,NaN,MALE,NaN,BODY
4,1989-08-29 00:00:00,DOG,NaN,FEMALE,NaN,BODY
...,...,...,...,...,...,...
195,2010-03-07 00:00:00,DOG,NaN,FEMALE,40216,BODY
196,2010-03-07 00:00:00,DOG,NaN,MALE,40243,BODY
197,2010-03-07 00:00:00,DOG,NaN,UNKNOWN,40206,BODY
198,2010-03-08 00:00:00,DOG,NaN,MALE,40216,BODY
199,2010-03-08 00:00:00,DOG,NaN,MALE,40241,HEAD

In [6]:
#How many missing values do we have#
df.isnull().sum()

bite_date             317
SpeciesIDDesc         118
BreedIDDesc          5244
GenderIDDesc         2526
victim_zip           1838
WhereBittenIDDesc     616
dtype: int64

In [8]:
#Delete the rows that contain missing values#

df = df.dropna(axis = 0, how = "any")
df.head(210)

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,victim_zip,WhereBittenIDDesc
1153,2010-12-24 00:00:00,DOG,GERM SHEPHERD,UNKNOWN,40291,BODY
1202,2011-01-11 00:00:00,DOG,DACHSHUND,MALE,40207,BODY
1208,2011-01-16 00:00:00,DOG,PIT BULL,UNKNOWN,40216,BODY
1244,2011-01-29 00:00:00,DOG,SHIH TZU,MALE,40223,BODY
1252,2011-02-04 00:00:00,DOG,SHIH TZU,FEMALE,40229,BODY
...,...,...,...,...,...,...
2168,2011-07-30 00:00:00,DOG,GERM SHEPHERD,FEMALE,40223,HEAD
2169,2011-07-31 00:00:00,DOG,SCHNAUZER,MALE,40272,BODY
2172,2011-07-31 00:00:00,DOG,DOTSON,MALE,40272,BODY
2173,2011-08-04 00:00:00,DOG,CHOW CHOW,FEMALE,42701,HEAD
2185,2011-07-28 00:00:00,DOG,AAUST. TERR.,MALE,40215,HEAD

In [9]:
#Resetting the index, so it starts with 0 again#
df = df.reset_index(drop = True)
df.head(210)

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,victim_zip,WhereBittenIDDesc
0,2010-12-24 00:00:00,DOG,GERM SHEPHERD,UNKNOWN,40291,BODY
1,2011-01-11 00:00:00,DOG,DACHSHUND,MALE,40207,BODY
2,2011-01-16 00:00:00,DOG,PIT BULL,UNKNOWN,40216,BODY
3,2011-01-29 00:00:00,DOG,SHIH TZU,MALE,40223,BODY
4,2011-02-04 00:00:00,DOG,SHIH TZU,FEMALE,40229,BODY
...,...,...,...,...,...,...
205,2011-07-30 00:00:00,DOG,GERM SHEPHERD,FEMALE,40223,HEAD
206,2011-07-31 00:00:00,DOG,SCHNAUZER,MALE,40272,BODY
207,2011-07-31 00:00:00,DOG,DOTSON,MALE,40272,BODY
208,2011-08-04 00:00:00,DOG,CHOW CHOW,FEMALE,42701,HEAD
209,2011-07-28 00:00:00,DOG,AAUST. TERR.,MALE,40215,HEAD

In [10]:
df.to_csv("Health_AnimalBites_2.csv")